{* This is the welcome page, you can delete it *}

{block content}


<h2><a n:href="fbLogin-open!">Login using facebook</a></h2>

<h2><a n:href="githubLogin-open!">Login using github</a></h2>

<h2><a n:href="googleLogin-open!">Login using google</a></h2>

<h2><a n:href="logout!">Logout</a></h2>
